.OptionSetPopup .addentitymodal {
  display: flex;
  flex-direction: column;
  width: 420px;
  background: #ffffff;
  box-shadow: 0px 0.42vw 1.48vh rgba(0, 0, 0, 0.1),
    0 25px 50px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0%;
  top: 64px;
  bottom: 0%;
  /* overflow-y: auto; */
  z-index: 1200;
  /* font-family: SF Pro Display; */
  font-family: Segoe UI;
  color: black;
}

.OptionSetPopup .addentitymodal__header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1.5rem 1.15rem;
  /* font-family: SF Pro Display; */
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 24px;
}

.OptionSetPopup .addentitymodal__header1 {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1.5rem 0.08rem;
  margin-left: 0.062rem;
  /* font-family: SF Pro Display; */
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 24px;
}

.OptionSetPopup .addentitymodal__close .MuiIconButton-root {
  padding: 0px;
}

.OptionSetPopup .addentitymodal__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 20px;
  color: #303030;
}

.OptionSetPopup .addentitymodal__contentmain {
  overflow-y: auto;
}

.OptionSetPopup .addentitymodal__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0rem 1rem;
  gap: 1rem;
  /* overflow-y: auto; */
}

.OptionSetPopup .addentitymodal__content1 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0rem 0.96rem;
  gap: 1rem;
  background: #f3f3f3;
  border: 1px solid #ececec;
  box-sizing: border-box;
  margin-top: 15px;
}

.OptionSetPopup .addentitymodal__footer {
  display: flex;
  margin-top: 1rem;
  padding: 1rem 1.2rem;
  gap: 1rem;
  border-top: 1px solid #ececec;
}

.OptionSetPopup .addentitymodal .MuiButton-root {
  border-radius: 3px;
  text-transform: none;
}

.OptionSetPopup .addentitymodal__success,
.addentitymodal__success.MuiButton-root:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

/* .addmodal__cancel, */
/* .EntityAdd_Btn_Close .addmodal__cancel.MuiButton-root:hover {
  color: #000000;
  border: 1px solid #595959;
  background-color: #ffffff;
} */

.OptionSetPopup .addentitymodal__footer .FFButton .Cancel {
  background: transparent;
  border: 1px solid #4c54bd;
  color: #4c54bd;
}

.OptionSetPopup .addentitymodal__footer .Cancelbutton {
  background: transparent;
}

.OptionSetPopup
  .FFSwitchbutton
  .MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track,
.FFSwitchbutton .MuiSwitch-track {
  opacity: 1;
}
.OptionSetPopup
  .FFSwitchbutton
  .MuiSwitch-colorSecondary.Mui-checked
  + .MuiSwitch-track {
  background-color: #1a936f;
}
.OptionSetPopup .FFSwitchbutton {
  display: flex;
  align-items: baseline;
}
.OptionSetPopup .FFSwitchbutton .MuiSwitch-colorSecondary.Mui-checked {
  color: #ffffff;
}
.OptionSetPopup .FFSwitchbutton .switchbutton {
  margin: -10px;
}

.OptionSetPopup .addentitymodal__content label {
  font-size: 14px;
  font-family: 'Segoe UI';
}

#OptionsetOptions {
  /* font-family: SF Pro Display; */
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 18px;
  border-collapse: collapse;
  width: 95%;
}

#OptionsetOptions td,
#OptionsetOptions span {
  border: 1px solid #ddd;
  padding: 8px;
  /* font-family: SF Pro Display; */
  font-family: Segoe UI Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 18px;
}

#OptionsetOptions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: #f3f3f3;
  border: 1px solid #ececec;
  box-sizing: border-box;
  /* font-family: SF Pro Display; */
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 18px;
}

.Option_table {
  overflow: auto;
  padding: 0rem 0.2rem;
}

.OptionSetPopup
  .MuiAutocomplete-root.autocomplete
  .MuiInputLabel-filled.MuiInputLabel-shrink.MuiInputLabel-marginDense {
  margin-top: -0.094rem;
}

.OptionSetPopup .textbox {
  margin: 0.175rem 0.175rem 0.188rem 0.175rem;
}
.OptionSetPopup .MuiInputLabel-formControl {
  top: 0px;
}
.OptionSetPopup .textbox .MuiInputLabel-filled.MuiInputLabel-shrink,
.OptionSetPopup
  .textbox
  .MuiInputLabel-filled.MuiInputLabel-shrink.MuiInputLabel-marginDense {
  margin-top: -1px;
}
.OptionSetPopup
  .MuiAutocomplete-root.autocomplete
  .MuiInputLabel-filled.MuiInputLabel-marginDense {
  margin-left: -0.062rem;
}
.OptionSetPopup .MuiFormControl-fullWidth {
  margin-top: 0.188rem;
  margin-bottom: 0.188rem;
}
.OptionSetPopup
  .MuiAutocomplete-root.autocomplete.MuiAutocomplete-hasPopupIcon {
  margin-left: 0.188rem;
  margin-right: -0.188rem;
}

.OptionSetPopup .textbox .MuiInputBase-multiline.MuiInputBase-marginDense {
  margin-top: 1.313rem;
}
.OptionSetPopup .addentitymodal__content1 .textbox {
  margin: 0.188rem 0.175rem 0.188rem 0.175rem;
}
.OptionSetPopup .textbox .MuiInputLabel-filled.MuiInputLabel-marginDense {
  margin-top: -0.1rem;
  margin-left: -0.062rem;
}
@media (max-width: 80em) {
  .OptionSetPopup .addentitymodal {
    width: 420px;
  }
}

@media (max-width: 60em) {
  .OptionSetPopup .addentitymodal {
    width: 100%;
    top: 0;
  }
}

@media (max-width: 37.5em) {
  .OptionSetPopup .addentitymodal {
    width: 100%;
    top: 0;
  }
}
